<% include ../partials/header %>

<div class="container">

    <div class="row justify-content-center">
        <h1>Leave a Comment!</h1>
    </div>
    <div class="row border">

        <form action="/reviews/<%=review._id%>/comments" method="POST">
            <input type="text" placeholder="Author..." name="comment[author]" value="<%= currentUser.username %>">
            <textarea name="comment[text]" placeholder="Write your comment here..."></textarea>
            <button>Submit</button>
        </form>
    </div>


</div>





<% include ../partials/footer %>