<% include partials/header %>

<div class="container my-2">
    <div class="row" style="text-align: center">

        <header class="col-12" style="text-align: center">
            <h1 class="jumbotron">Barney's Books</h1>
        </header>

        <div class="col-6">
            <a class="btn btn-primary btn-block" href="/searchbook">Search a Book</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary btn-block" href="/reviews">Read Reviews</a>
        </div>
        <div class="col-12 mt-2">
            <a class="btn btn-primary btn-block" href="/postbook">Post a Review</a>
        </div>





    </div>
</div>



<% include partials/footer %>