<% include ../partials/header %>
<header class="header">

    <div class="container mb-2">
        <div class="row" style="text-align: center">
            
            <div class="col-12" style="text-align: center">
                <h1>Barney's Books</h1>
                <h4>A site dedicated to IT related literature!</h2>
                <p>Search IT books, read book reviews, or post a review
                for the world to see!</p>
            </div>
        
        </div>
    </div>

    <div class="container my-2">
        <div class="row justify-content-center">

            <div class="col-4">
                <a class="btn btn-primary btn-block" href="/searchbook">Search a Book</a>
                <a class="btn btn-primary btn-block" href="/reviews">Read Reviews</a>
                <a class="btn btn-primary btn-block" href="/reviews/new">Post a Review</a>
            </div>

        </div>
    </div>

    
</header>




<% include ../partials/footer %>