<% include ../partials/header %>

<div class="container my-2">
    <div class="row" style="text-align: center">

        <header class="col-12 jumbotron" style="text-align: center">
            <h1>Barney's Books</h1>
            <h4>A site dedicated to IT related literature!</h2>
            <p>Search IT books, read book reviews, or post a review
            for the world to see!</p>
        </header>

        <div class="col-6">
            <a class="btn btn-primary btn-block" href="/searchbook">Search a Book</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary btn-block" href="/reviews">Read Reviews</a>
        </div>
        <div class="col-12 mt-2">
            <a class="btn btn-primary btn-block" href="/reviews/new">Post a Review</a>
        </div>





    </div>
</div>



<% include ../partials/footer %>