<% include ../partials/header %>

<div class="container">

    <div class="row justify-content-center">
        <h1>Post a Review</h1>
    </div>
    <div class="row border">

        <form action="/reviews" method="POST">
            <input type="text" placeholder="Author" name="post[author]" value="<%= currentUser.username %>">
            <input type="text" placeholder="Title" name="post[name]">
            <input type="text" placeholder="Image URL" name="post[image]">
            <textarea name="post[review]" placeholder="Enter your review here"></textarea>
            <button>Submit</button>
        </form>
    </div>


</div>





<% include ../partials/footer %>